
<{if $openSocket == false}>
<div class="waring">
	<i></i><span>管理员关闭了此项功能</span>
</div>
<{/if}>

<{checkRight c=adminRole a=broadcast}>
<div class="table-list-action">
	<input class="action-button" id="guangbo" title="发送广播" lock="false" value="广播消息" type="button" />
</div>
<{/checkRight}>

<div class="table-list">
	<div class="table-title">在线管理员</div>
	<div class="table-content">
		<{if empty($list)}>
			<div class="table-content-empty">不存在符合该条件的记录</div>
		<{else}>
		<table class="list-table table-color">
			<col width="10%" />
			<col width="10%" />
			<col width="10%" />
			<col width="10%" />
			<col width="10%" />
			<col width="10%" />
			<col width="10%" />
			<thead>
				<tr>
					<th>用户</th>
					<th>用户组</th>
					<th>登陆地</th>
					<th>登陆时间</th>
					<th>最后操作</th>
					<th>浏览页面</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody id="contentList">
				<{foreach from=$list item=l}>
				<tr lasttime="<{$smarty.now}>" id="user-<{$l.uid}>">
					<td><{$l.username}></td>
					<td><{$l.groupName}></td>
					<td><{$l.loginIp}> (<{$l.loginArea}>)</td>
					<td id="user-login-<{$l.uid}>"><{$l.loginTime}></td>
					<td id="user-say-<{$l.uid}>"><{$l.timeSay}></td>
					<td id="user-page-<{$l.uid}>"><{$l.pageName}></td>
					<td>
					<a class="sendNotice" uid="<{$l.uid}>" username="<{$l.username}>" style="color:#009999" href="javascript:void(0)">发送通知</a> 
					<a class="ledLogout" username="<{$l.username}>" uid="<{$l.uid}>" style="color:#FF0000" href="javascript:void(0)">强制下线</a>
					</td>
				</tr>
				<{/foreach}>
			</tbody>
		</table>
		<{/if}>
	</div>
</div>
<div class="page"><{$page}></div>
<script>
function str2asc(strstr){ 
return ("0"+strstr.charCodeAt(0).toString(16)).slice(-2); 
} 
function asc2str(ascasc){ 
return String.fromCharCode(ascasc); 
} 

function UrlDecode(str){      
  var ret="";      
  for(var i=0;i<str.length;i++){      
   var chr = str.charAt(i);      
    if(chr == "+"){      
      ret+=" ";      
    }else if(chr=="%"){      
     var asc = str.substring(i+1,i+3);      
     if(parseInt("0x"+asc)>0x7f){      
      ret+=asc2str(parseInt("0x"+asc+str.substring(i+4,i+6)));      
      i+=5;      
     }else{      
      ret+=asc2str(parseInt("0x"+asc));      
      i+=2;      
     }      
    }else{      
      ret+= chr;      
    }      
  }      
  return ret;      
}
</script>

<script>
$(".sendNotice").live('click',function(){
	var touid = $(this).attr('uid');
	
	var selfUid = '<{$smarty.session.user.id}>';
	if(selfUid == touid){
		art.dialog({title:'发送通知',content:'请勿给自己发消息..',icon:'error',time:1});
		return false;
	}
	
	var username = $(this).attr('username');
	art.dialog({
		title:'发送通知',
		content:'<p style="padding:0; margin:5px 0 5px 0; padding-left:5px;">To : '+username+'</p><textarea id="sendContent" touid="'+touid+'" style="color:#333;padding-top:5px; border:none; margin-top:5px; border-bottom:solid 1px #ccc;border-top:solid 1px #ccc;width:350px;height:200px;outline:none;resize:none;font-family:微软雅黑"></textarea>',
		padding:'0',
		width:350,
		height:200,
		cancelVal:'取消',
		cancel:function(){return true;},
		ok:function(){
				var content = $("#sendContent").val();
				var touid = $("#sendContent").attr('touid');
				sendToMessage(touid,content);
			},
		okVal:'发送'
	});
})

//广播消息
$("#guangbo").click(function(){
	var username = $(this).attr('username');
	art.dialog({
		title:'发送通知',
		content:'<p style="padding:0; margin:5px 0 5px 0; padding-left:5px;">广播消息 ：</p><textarea id="sendContent" style="color:#333;padding-top:5px; border:none; margin-top:5px; border-bottom:solid 1px #ccc;border-top:solid 1px #ccc;width:350px;height:200px;outline:none;resize:none;font-family:微软雅黑"></textarea>',
		padding:'0',
		width:350,
		height:200,
		cancelVal:'取消',
		cancel:function(){return true;},
		ok:function(){
				var content = $("#sendContent").val();
				if(content.length <= 0){
					art.dialog({title:'发送通知',content:'请勿发送空消息..',icon:'error',time:1});
					return false;
				}
				
				socket.emit('SToAllUser',{
					msg:content,
					username:'<{$smarty.session.user.username}>',
					uid:'<{$smarty.session.user.id}>',
					sendTime:'<{$smarty.now|date_format:"%Y-%m-%d %H:%M:%S"}>'
				});
				
				art.dialog({title:'发送通知',content:'消息已成功送出..',icon:'succeed',time:1});
			},
		okVal:'发送'
	});
});

//强制下线
$(".ledLogout").live('click',function(){
	var username = $(this).attr('username');
	var touid = $(this).attr('uid');
	art.dialog({
			width:240,
			padding:0,
			icon:'warning',
			content:'是否确定要求管理员"'+username+'"立即下线',
			ok:function(){
				socket.emit('SLeadUserOut',{
					uid:'<{$smarty.session.user.id}>',
					touid:touid
				});
			},
			okVal:'确定',
			cancalVal:'放弃',
			cancel:true
		});
})

</script>

<{if $openSocket == true}>
<script src="http://<{$socketHost}>/socket.io/socket.io.js"></script>
<script>
var socket = io.connect('http://<{$socketHost}>');

socket.on('Coutline',function(msg){

	if(msg.uid == undefined){
		return false;
	}

	//等待3秒对比更新 若3秒后未更新则移除
	setTimeout(function(){
		var lastUpdate = 0;
		if($("#user-"+msg.uid).length >0 ){
			lastUpdate = $("#user-"+msg.uid).attr('lasttime');
		}
		var now = parseInt(new Date().getTime() / 1000);
		
		if(now - parseInt(lastUpdate) > 3){
			$("#user-" + msg.uid).remove();
		}
		
	},1000 * 3);
})

function sendToMessage(touid,content){

	var selfUid = '<{$smarty.session.user.id}>';
	if(selfUid == touid){
		art.dialog({title:'发送通知',content:'请勿给自己发消息..',icon:'error',time:1});
		return false;
	}

	if(content.length > 0){
		art.dialog({title:'发送通知',content:'消息已成功送出..',icon:'succeed',time:1});
	}else{
		art.dialog({title:'发送通知',content:'请勿发送空消息..',icon:'error',time:1});
		return false;
	}
	socket.emit('Smessage',{
		msg:content,
		username:'<{$smarty.session.user.username}>',
		uid:'<{$smarty.session.user.id}>',
		touid:touid,
		sendTime:'<{$smarty.now|date_format:"%Y-%m-%d %H:%M:%S"}>'
	});
}

socket.on('ConLine',function(msg){

	//加入列表
	if($("#user-"+msg.uid).length<=0){
		var html = '<tr lasttime="'+parseInt(new Date().getTime() / 1000)+'" id="user-'+msg.uid+'"><td>'+msg.username+'</td>'
					+'<td>'+msg.groupName+'</td>'
					+'<td>'+msg.loginIp+' ('+msg.loginArea+')</td>'
					+'<td id="user-login-'+msg.uid+'">'+msg.loginTime+'</td>'
					+'<td id="user-say-'+msg.uid+'">5秒内</td>'
					+'<td id="user-page-'+msg.uid+'">'+msg.pageName+'</td>'
					+'<td><a class="sendNotice" username="'+msg.username+'" uid="'+msg.uid+'" style="color:#009999" href="javascript:void(0)">发送通知</a> <a class="ledLogout" username="'+msg.username+'" uid="'+msg.uid+'" style="color:#FF0000" href="javascript:void(0)">强制下线</a></td>'
					+'</tr>';
		$("#contentList").append(html);
	}else{
		//更新列表
		$("#user-page-" + msg.uid).html(msg.pageName);
		$("#user-say-" + msg.uid).html('5秒内');
		$("#user-login-" + msg.uid).html(msg.loginTime);
		$("#user-" + msg.uid).attr('lasttime',parseInt(new Date().getTime() / 1000) );
	}
})
</script>
<{/if}>
