<div class="row">
	<div class="col-xs-12">
		<form method="post" class="form-horizontal" name="add_user_form"
			id="add_user_form" action="<{url c=adminRole a=changePassword}>">
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right"
					for="form-field-2"> 用户名 </label>
				<div class="col-sm-9">
				<label class="col-sm-3" style="line-height:25px"
					for="form-field-2"> <{$user.username}> </label> 
				</div>
			</div>
			<div class="space-4"></div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right"
					for="form-field-2"> 密码 </label>
				<div class="col-sm-9">
					<input type="password" id="form-field-2" placeholder=" "
						name="password" class="col-xs-10 col-sm-5" /> <span
						class="help-inline col-xs-12 col-sm-7"> </span>
				</div>
			</div>
			<div class="space-4"></div>
		</form>
	</div>
</div>