<script src="http://<{$socketHost}>/socket.io/socket.io.js"></script>
<script>
var socket = io.connect('http://<{$socketHost}>');

var socketHost = 'http://<{$socketHost}>';
var sokcetLoginTime = '<{$smarty.now|date_format:"%Y-%m-%d %H:%M:%S"}>';
var socketLoginIp = '<{$ip}>';
var socketIsInsterlIp = '<{$smarty.session.user.isInternal}>';
var socketPageName = '<{$navName}>';
var scoketNowPage = '<{$controller}>';
var socketUid = '<{$smarty.session.user.id}>';
var socketTime = '<{$smarty.now}>';
var socketUsername = '<{$smarty.session.user.username}>';
var socketGroupName = '<{$smarty.session.user.groupData.gname}>';
var socketLoginArea = '<{$smarty.session.user.loginArea}>';
var noticePlayerSubmit = '<{$smarty.session.user.saveLogVal.newSubmit}>';
var noticeOtherLogin = '<{$smarty.session.user.saveLogVal.otherLogin}>';

socket.on('connect', function() {
  	 socket.emit('SonLine',{
	 	loginTime:sokcetLoginTime,
		loginIp:socketLoginIp,
		isInternalIP:socketIsInsterlIp,
		msg:'onLine',
		pageName:'消息中心客户端',
		nowPage:scoketNowPage,
		uid:socketUid,
		time:socketTime,
		username:socketUsername,
		groupName:socketGroupName,
		loginArea:socketLoginArea
	});
});

socket.on('CtoUsermessage',function(msg){
	
});

window.external.test();
</script>