<script type="text/javascript">
$(function(){s.menu_selected('<{$controller}>','index');})
</script>
<style>
/*添加*/ 
table{font-size:12px; color:#333333;font-family:"微软雅黑"}
.add_detail_this{margin:15px;border-radius:4px; font-size:12px; padding-bottom:20px; margin-left:0;}
.add-table{width:100%; font-size:12px; border-collapse:collapse;}
.add-table th{ text-align:right; padding-right:15px; width:90px;}
.add-table td{padding:10px 0 10px 0; padding-left:10px;}
.add-input-text{ width:250px; height:24px; border-radius:3px; border:solid 1px #CCCCCC; font-family:"微软雅黑"; padding-left:5px}
.add-input-textarea{width:250px; border:solid 1px #CCC; border-radius:3px; resize:none; height:55px;font-family:"微软雅黑"}
.add-input-select{height:25px; font-family:"微软雅黑"; border-radius:3px; padding-left:5px; border:solid 1px #CCC; color:#333333; width:253px}
.rightAreaT{height: 26px;line-height: 26px;font-family: "微软雅黑";font-weight: bold;margin-top:2px;font-size: 13px; color:#000000; margin-left:-5px}
.setRightArr {margin-left: -40px;list-style: none;margin-top: 0; padding-bottom:10px}
.setRightArr li {float: left;width: 210px;margin-right: 5px;height: 28px;line-height: 28px;margin-left: 35px;}
.setRightArr li input{position:relative; top:2px}
.rightAreaT a{font-weight:normal; color:#333333; font-size:12px; text-decoration:none}
select{font-family:"微软雅黑"; height:28px; border-top-left-radius:4px ; border-bottom-left-radius:4px ; border:solid 1px #CCCCCC; position:relative; left:-2px; padding-left:5px}
</style>
<div class="table-list-action"> <a href="<{url c=adminRole a=index}>">返回列表</a> </div>
<div style="border-bottom:dotted 1px #CCCCCC; margin-top:10px"></div>
<div class="add_detail_this">
  <form method="post" action="<{url c=adminRole a=editRole id=$data.gid}>" class="form_ajax">
    <table class="add-table">
      <tbody>
        <tr>
          <th width="" style=" width:120px">角色所属组：</th>
          <td width=""><select name="parent_id">
              <{if $smarty.session.user.groupData.gid == 1}>
              <option value="0">顶级组</option>
              <{/if}> <{foreach from=$list item=cateTree}>
              <option value="<{$cateTree.gid}>"><{$cateTree.gname}></option>
              <{/foreach}>
            </select>
            &nbsp;拥有"角色控制权限"的角色,可以将自身拥有的权限分配给自己设定的子角色组</td>
        </tr>
        <tr>
          <th width="" style=" width:120px">角色名称：</th>
          <td width=""><{$data.gname}></td>
        </tr>
        <tr style="display:none">
          <th>相关产品：
            <input type="checkbox" style="position:absolute; margin-left:28px" />
            <span style="position:absolute; margin-left:45px; font-weight:normal; margin-top:1px">全部产品</span> </th>
          <td width=""></td>
        </tr>
        <tr>
          <th valign="top" style="padding-top:15px" width="">资源分配：</th>
          <td width=""><{foreach from=$rightArray item=rep key=key}>
            <div class="rightAreaT">
              <label>
              <input type="checkbox" class="ace"  data-key="<{$key|md5}>"/>
              <span class="lbl"></span>&nbsp;<strong><{$key}></strong></label>
            </div>
            <ul class="setRightArr" id="<{$key|md5}>">
              <{foreach from=$rep item=arr}>
              <li>
                <label>
                <input type="checkbox" class="ace" name="rights[]" value="<{$arr.id}>" <{if $arr.id|in_array:$data.rightList}>checked="checked"<{/if}> />
                <span class="lbl"></span>&nbsp;<span><{$arr.name}></span></label>
              </li>
              <{/foreach}>
              <div style="clear:both"></div>
            </ul>
            <{/foreach}> </td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
      </tbody>
    </table>
    <div style="text-align:center">
      <button type="submit" class="btn btn-lg btn-success"> <i class="icon-ok"></i> 提 交 </button>
    </div>
  </form>
</div>
<script type="text/javascript"> 
$(function(){ 
	$('.rightAreaT input[type=checkbox]').on('click' , function(){
		var that = this;
		var key = $(this).data('key');
		$('#'+key).find('input:checkbox').each(function(){
			this.checked = that.checked;
			//$(this).closest('tr').toggleClass('selected');
		});
	});
})
</script>
