<style>
.sayMain{position:absolute; right:250px; bottom:0; top:0; left:0; border-right:solid 1px #CCCCCC; z-index:200} 
.sayFriend{position:absolute; right:4px; bottom:4px; top:4px; border:solid 1px #CCCCCC; border-radius:5px; width:238px}
.sayMessageBox{overflow:auto;}
.sayMessageSend{height:150px}
.sayOtherMessageBar{min-height:55px; line-height:35px;margin-top:12px;}
.sayMyMessageBar{ min-height:55px; line-height:35px; text-align:right; margin-top:12px;}
.otherHead{float:left; width:35px; height:35px; border-radius:4px; margin-left:15px; border:solid 1px #CCCCCC; background:url(<{$staticUrl}>/static/img/defaultHead.png)}
.otherMessage{float:left;min-height:55px; max-width:400px;}
.otherName{height:22px; line-height:22px; margin-left:8px; margin-top:-5px;}
.otherSay{border:solid 1px #92B4CF; background:#CCE7F5; color:#252424; margin-left:7px; line-height:24px; padding:2px 6px 2px 6px; border-radius:6px; margin-top:4px;white-space:normal; word-break:break-all;}
.myHead{float:right;width:35px; height:35px; border-radius:4px; margin-right:5px; border:solid 1px #CCCCCC; background:url(<{$staticUrl}>/static/img/defaultHead.png)}
.myMessage{float:right;min-height:55px; max-width:400px;}
.mySay{border:solid 1px #92B4CF; background:#CCE7F5; color:#252424; margin-left:7px; line-height:24px; padding:2px 6px 2px 6px; border-radius:6px; margin-right:5px;white-space:normal; word-break:break-all;}
.srollContent{ padding-bottom:10px; }
.sayToolsBar{height:30px; border:solid 1px #CCCCCC; background:#F5F8F8; border-right:none}
.sayContent{height:115px;}
.sayTextArea{ resize:none;height:105px; overflow:auto; font-family:"微软雅黑"; border:0; outline:none; margin-left:5px; margin-top:2px;}
.sendMessage{height:105px; width:105px; border-left:solid 1px #CCCCCC; float:right; margin-top:5px; margin-right:5px}
.sendButton{
margin-left: 15px;
padding: 6px 8px;
cursor: pointer;
display: inline-block;
text-align: center;
line-height: 1;
letter-spacing: 2px;
font-family: Tahoma, Arial/9!important;
width: 85px;
height:85px;
margin-top:10px;
overflow: visible;
color: #333;
border: solid 1px #999;
border-radius: 5px;
background: #DDD;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD');
background: linear-gradient(top, #FFF, #DDD);
background: -moz-linear-gradient(top, #FFF, #DDD);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#DDD));
text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
box-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0 -1px 0 rgba(0, 0, 0, .09);
-moz-transition: -moz-box-shadow linear .2s;
-webkit-transition: -webkit-box-shadow linear .2s;
transition: box-shadow linear .2s;
color: #FFF;
border: solid 1px #3399dd;
background: #2288cc;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
background: linear-gradient(top, #33bbee, #2288cc);
background: -moz-linear-gradient(top, #33bbee, #2288cc);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc));
text-shadow: -1px -1px 1px #1c6a9e;
font-family:"微软雅黑"
}
.toolBarUl{list-style:none;width:80%; overflow:hidden}
.toolBarUl_li{border:solid 1px #F5F8F8; width:20px; height:20px; float:left; margin-top:4px; margin-left:4px; margin-right:2px; line-height:24px}
.toolFont{background:url(<{$staticUrl}>/static/img/aio_quickbar_font.png);}
.toolImg{background:url(<{$staticUrl}>/static/img/aio_quickbar_sendpic.png);}
.toolFace{background:url(<{$staticUrl}>/static/img/aio_quickbar_face.png);}
.toolBarUl_li:hover{border:solid 1px #CCCCCC; border-radius:3px; cursor:pointer}
.sayInfo{margin-left:15px; margin-top:5px; color:#999999; text-align:center}
.faceBox{width:620px; border:solid 1px #CCCCCC; border-radius:5px; position:absolute; height:265px; bottom:155px; left:50px; background:#F5F8F8; z-index:500; display:none}
.faceBox ul{list-style:none; padding-top:2px;}
.faceBox ul li{width:60px; height:50px; float:left; margin:1px; cursor:pointer}
.showHistory{margin-top:5px; margin-bottom:5px; text-align:center; color:#999999}
.showFriendList{display:inline-block; width:20px; height:20px; border:solid 1px #CCCCCC; border-radius:4px; cursor:pointer; position:absolute; right:5px; margin-top:-22px; background:url(<{$staticUrl}>/static/img/ContactMgr.png)}
.sayFriendInfo{height:350px; border-bottom:solid 1px #CCCCCC}
.sayFriendInfoTitle{height:26px; border-top-left-radius:5px;border-top-right-radius:5px; background:#EEFAF2; border-bottom:solid 1px #DBEDE1; line-height:28px; padding-left:5px}
.sayFrindInfoBox{height:320px; overflow:auto; padding-top:3px}
.sayFrindInfoBox_div{height:24px; line-height:24px; padding-left:5px; color:#333333; overflow:hidden}
.sayFriendListTitle{height:26px; background:#EEFAF2; border-bottom:solid 1px #DBEDE1; line-height:28px; padding-left:5px}
.sayFrindListBox{ overflow:auto; padding-top:5px;}
.sayFrindListBox_div{height:24px; line-height:24px; padding-left:30px; overflow:hidden; border:solid 1px #FFFFFF; margin:0 5px 0 5px}
.sayFrindListBox_div:hover{ border:solid 1px #DBEDE1; cursor:pointer; border-radius:4px; background:#E6F6EB}
.smallHead{display:inline-block; position:absolute; width:22px; margin-left:-25px; height:22px; background:url(<{$staticUrl}>/static/img/defaultHead22.png)}
.faceClick{cursor:pointer}
</style>
<div class="sayMain">
	<div id="sayMessageBox" class="sayMessageBox">
	
		<div id="srollContent" class="srollContent">
			
			<div class="sayInfo" style="display:none">[ <{$smarty.now|date_format:"%H:%M:%S"}> ] <{$smarty.session.user.username}> 进入交流中心..</div>
			
			<!--历史消息-->
			<{foreach from=$list item=l}>
				
				<{if $l.isMy == true}>
					<div class="sayMyMessageBar">
						<div class="myHead"></div>
						<div class="myMessage">
							<div class="mySay"><{$l.msg}></div>
						</div>
						<div class="clear"></div>
					</div>
				<{else}>
					<div class="sayOtherMessageBar">
						<div class="otherHead"></div>
						<div class="otherMessage">
							<div class="otherName"><{$l.username}></div>
							<div class="otherSay"><{$l.msg}></div>
						</div>
						<div class="clear"></div>
					</div>
				<{/if}>
			
			<{/foreach}>
			
			<{if !empty($list)}>
			<div class="showHistory">
				---------- 以上是历史消息 ----------
			</div>
			<{/if}>
			
			
		
		<div class="clear"></div>
		</div>
	</div>
	<div class="sayMessageSend">
		<div class="sayToolsBar">
			<ul class="toolBarUl">
				<li class="toolBarUl_li toolFont" id="setFont" title="设置字体"></li>
				<li class="toolBarUl_li toolFace" id="setFace" title="表情"></li>
				<li class="toolBarUl_li toolImg" id="setImg" title="插入图片"></li>
				<div class="clear"></div>
			</ul>
			<i title="查看交流中心管理员" id="showList" class="showFriendList"></i>
		</div>
		<div class="sayContent">
			<textarea id="sayTextContent" class="sayTextArea"></textarea>
			<div class="sendMessage">
				<input class="sendButton" id="sendButton" type="button" value="发送消息" />
			</div>
		</div>
	</div>
</div>

<div class="sayFriend">
	<div class="sayFriendInfo">
		<div class="sayFriendInfoTitle">频道动态</div>
		<div class="sayFrindInfoBox" id="infoScroll">
			<div id="sayFrindInfoBox">
				<div class="sayFrindInfoBox_div"> [<{$smarty.now|date_format:"%H:%M:%S"}>] <{$smarty.session.user.username}> 进入交流中心 </div>
			</div>
		</div>
	</div>
	<div class="sayFrineOnline">
		<div class="sayFriendListTitle">频道成员</div>
		<div class="sayFrindListBox" id="flistScroll">
			<div id="sayFrindListBoxON">
				<{foreach from=$adminList item=al}>
				<div class="sayFrindListBox_div" lasttime="<{$smarty.now}>" id="user-<{$al.uid}>"><i class="smallHead"></i><{$al.username}>(<{$al.groupName}>)</div>
				<{/foreach}>
			</div>
		</div>
	</div>
	
</div>

<div class="faceBox" id="faceBox">
	<ul id="faceBoxContent">
	</ul>
	<div class="clear"></div>
</div>

<script>

useGourp = true;

var showLeft = true;
$("#showList").click(function(){
	if(showLeft == true){
	
		$(".sayFriend").animate({opacity:0},300,function(){
			$(".sayMain").animate({right:'0px'},300);
			showLeft = false;
		});
	}else{
		$(".sayMain").animate({right:'250px'},300,function(){
			$(".sayFriend").animate({opacity:1},300);
			showLeft = true;
		});
	}
})

var hasLoadFace = false;
$("#setFace").click(function(){

	if(hasLoadFace == false){
		var html = '';
		for(var i = 1; i <= 50 ; i++){
			html = html + '<li class="faceClick" cid="'+i+'" title="坑爹'+i+'"><img width="50" height="40" src="<{$staticUrl}>/static/img/face/'+i+'.png"></li>';
		}
		$("#faceBoxContent").html(html);
	}

	$("#faceBox").fadeToggle();
})

//推送用户进入
function showUserLogin(msg){

	var html = '<div class="sayFrindInfoBox_div"> [' + (msg.time).substring(11,19) +'] ' +msg.username+ ' 进入交流中心 </div>';
	$("#sayFrindInfoBox").append(html);
	$("#infoScroll").scrollTop($("#sayFrindInfoBox").height(),300);
}

function userOnLine(msg){

	if(msg.pageName != '交流中心'){
		return false;
	}

	//加入列表
	if($("#user-"+msg.uid).length<=0){
		var html = '<div class="sayFrindListBox_div" lasttime="'+parseInt(new Date().getTime() / 1000)+'" id="user-'+msg.uid+'"><i class="smallHead"></i>'+msg.username+'('+msg.groupName+')</div>';
		$("#sayFrindListBoxON").append(html);
	}else{
		//更新列表
		$("#user-" + msg.uid).attr('lasttime',parseInt(new Date().getTime() / 1000) );
	}
}

function userOutLine(msg){

	if(msg.uid == undefined){
		return false;
	}

	//等待3秒对比更新 若3秒后未更新则移除
	setTimeout(function(){
		var lastUpdate = 0;
		if($("#user-"+msg.uid).length >0 ){
			lastUpdate = $("#user-"+msg.uid).attr('lasttime');
		}
		var now = parseInt(new Date().getTime() / 1000);
		if(now - parseInt(lastUpdate) > 3){
			$("#user-" + msg.uid).remove();
		}
		
	},1000 * 3);
}


$(".faceClick").live('click',function(){
	var cid = $(this).attr('cid');
	var faceTag = '[s:'+cid+']';
	insertText(document.getElementById('sayTextContent'),faceTag);
	$("#faceBox").hide();
	$("#sayTextContent").focus();
})

//复写外部JS 向消息框添加消息
function groupSay(username,msg,t){
	var sayUser = username.replace('广播','');
	var html = '<div class="sayOtherMessageBar">'
			    +'<div class="otherHead"></div>'
				+'<div class="otherMessage">'
					+'<div class="otherName">' + sayUser + '</div>'
					+'<div class="otherSay">' + msg + '</div>'
				+'</div>'
				+'<div class="clear"></div>'
			+'</div>';
	$("#srollContent").append(html);
	
	$("#sayMessageBox").scrollTop($("#srollContent").height(),300);
	
}

$(document).ready(function(){
	sizeWindiw();
	$("#sayTextContent").focus();
});

$(window).resize(function(){
	sizeWindiw();
})

$("#sayTextContent").keyup(function(event){
	if(event.keyCode == 13){
		$("#sendButton").trigger('click');
	}
})

$("#sendButton").click(function(){
	var content = $("#sayTextContent").val();
	
	//内容为空
	if(content.length <= 0){
		art.dialog({title:'发送通知',content:'发送空消息为空，请重新输入！',icon:'error',time:1});
		$("#sayTextContent").focus();
		return false;
	}
	
	content = changeFace(content);
	
	var html = '<div class="sayMyMessageBar">'
				+'<div class="myHead"></div>'
				+'<div class="myMessage">'
					+'<div class="mySay">' + content + '</div>'
				+'</div>'
				+'<div class="clear"></div>'
			+'</div>';
	$("#srollContent").append(html);
	$("#sayMessageBox").scrollTop($("#srollContent").height(),300);
	$("#sayTextContent").val('');
	
	var nowTime = CurentTime();
	
	if(socket != undefined){
		 socket.emit('SGroup',{
			msg:content,
			username:'<{$smarty.session.user.username}>',
			uid:'<{$smarty.session.user.id}>',
			sendTime:nowTime
		});
	}
	
	$("#sayTextContent").focus();
})

//替换表情
function changeFace(content){
	var regExp=/\[s:(.*?)\]/g; 
	var rslt = content.match(regExp);
	if(rslt == null) return content;
	
	var imgNo,imgSrc,newContent,faceCode;
	for(var i=0;i < rslt.length;i++){
		faceCode= rslt[i];
		imgNo = rslt[i].replace('[s:','').replace(']','');
		imgSrc = '<img width="120" src="<{$staticUrl}>/static/img/face/' + imgNo + '.png">';
		content = content.replace(faceCode,imgSrc);
	}
	return content;
}


function sizeWindiw(){
	var width = $(window).width();
	var height = $(window).height();
	var righWidth = $(".sayMessageSend").width();
	
	$("#sayMessageBox").height(parseInt(height) - 150 - 135);
	$("#sayTextContent").width(parseInt(righWidth) - 105 - 24);
	$("#flistScroll").height(parseInt(height) - 135 - 10 - 350 - 24 );
	$("#sayMessageBox").scrollTop($("#srollContent").height(),300);
}
</script>